<div class="card">
  <%= link_to book_path(book), target: "_top" do  %>
    <div class="top-section">
      <h2><%= book.title %></h2>
      <p><%= book.display_authors if book.authors.any? %></p>
      <p><%= book.summary %></p>
      <p><%= "#{book.first_publish_year}, #{book.pages} pages" %></p>

    </div>
  <% end %>

  <%= turbo_frame_tag dom_id(book, :status) do %>
    <div class="bottom-section">
      <% if Current.user.book_status(book) %>
        <p><%= Current.user.book_status(book) %></p>
      <% else %>
        <%= form_with model: book.readings, url: readings_path, method: :post do |form| %>
          <%= form.hidden_field :book_id, value: book.id %>
          <%= form.select :status,
                          Reading.statuses.keys.map { |s| [s.humanize, s] },
                          { prompt: "Select status" },
                          data: { controller: "autosubmit", action: "change->autosubmit#submit" } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
